services:
    permission:
        class: Nette\Security\Permission
        setup:
            - addRole(guest)
            - addRole(member, guest) #member extends guest
            - addRole(administrator, member) #administrator extends member
            - addRole(creator)

            - allow(guest)

            - addResource(Clanek)
            - addResource(Chyba4xx)
            - addResource(Chyba)
            - addResource(Default)
            - addResource(Prihlasit)
            - addResource(Odhlasit)
            - addResource(Clanky)
            - addResource(Posta)
            - addResource(OMne)
            - addResource(Zprava)
            - addResource(Kontakt)
            - addResource(loginForm)
            - addResource(contactForm)
            - addResource(commentForm-form)
            - addResource(discussion-discussion)
            - addResource(message)
            - addResource(articleForm-form)
            - addResource(articleForm-tags-tags)

            - deny(guest, Clanky, pridani)
            - deny(guest, Clanek, editace)
            - deny(guest, discussion-discussion)
            - deny(guest, Posta)
            - deny(guest, Zprava)
            - deny(guest, message)
            - deny(guest, articleForm-form)
            - deny(guest, articleForm-tags-tags)

            - allow(creator)
            - allow(administrator)