services:
    permission:
        class: Nette\Security\Permission
        setup:
            - addRole(guest)
            - addRole(member, guest) #member extends guest
            - addRole(administrator, member) #administrator extends member
            - addRole(creator)

            - addResource(Clanek)
            - addResource(Prihlasit)

            - deny(guest, Clanek, editace)
            - allow(guest, Prihlasit)

            - allow(creator)
            - allow(administrator)