services:
    permission:
        class: Nette\Security\Permission
        setup:
            - addRole(guest)
            - addRole(member, guest) #member extends guest
            - addRole(administrator, member) #administrator extends member
            - addRole(creator)

            - addResource(Clanek)
            - addResource(Default)
            - addResource(Prihlasit)
            - addResource(Odhlasit)
            - addResource(Clanky)
            - addResource(loginForm)
            - addResource(discussionForm)
            - addResource(Komentar)
            - addResource(OMne)
            - addResource(Kontakt)
            - addResource(contactForm)
            - addResource(Posta)
            - addResource(Zprava)
            - addResource(addArticleForm)
            - addResource(editArticleForm)
            - addResource(Tag)
            - addResource(tags-tags)
            - addResource(discussion-discussion)
            - addResource(message)
            - addResource(discussionForm-form)
            - addResource(articleForm-form)
            - addResource(articleForm-tags-tags)

            - deny(guest, Clanek, editace)
            - allow(guest, Prihlasit)
            - allow(guest, Default)
            - allow(guest, Odhlasit)
            - allow(guest, loginForm)
            - allow(guest, Clanky, default)
            - allow(guest, Clanek, default)
            - allow(guest, discussionForm)
            - allow(guest, OMne)
            - allow(guest, Kontakt)
            - allow(guest, contactForm)
            - deny(guest, Clanky, pridani)
            - deny(guest, Posta)
            - deny(guest, Zprava)
            - deny(guest, Komentar, smazat)
            - deny(guest, addArticleForm)
            - deny(guest, editArticleForm)
            - deny(guest, Tag)
            - deny(guest, discussion-discussion)
            - deny(guest, message)
            - deny(guest, articleForm-form)
            - deny(guest, articleForm-tags-tags)

            - allow(creator)
            - allow(administrator)