{block content}
{define title}{$article->title()}{/define}
{control article}
<div class="row">
    <h2>Diskuze
        <small>{$discussion->count()} komentářů</small>
    </h2>
</div>
{control discussion}
<div class="row">
    <h2>Přidej komentář</h2>
</div>
{control commentForm}