{block content}
{define description}Úprava komentáře ke konkrétní diskuzi{/define}
{control allTags}
<h1>{block title}Články {ifset $selectedTag} pro tag <strong>{$selectedTag}</strong>{/ifset}{/block}</h1>
{if $user->isAllowed('Clanky', 'pridani')}
    <a n:href="Clanky:pridani">
        <button type="button" class="btn btn-default">Přidat</button>
    </a>
{/if}
<p>Počet článků: {$articles->count()}</p>
{control articles}